<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TatateArts-Painting Contractors, Goa</title>
		<!--Include all css files required-->
		<link rel="stylesheet" href="./assets/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./assets/AngularJS-Toaster/toaster.min.css">
		<link rel="stylesheet" href="./src/css/tataearts.css">
		<!--Include all js scripts required-->
		<script src="assets/angular/angular.min.js"></script>
		<script src="assets/angular-animate/angular-animate.min.js"></script>
		<script src="assets/AngularJS-Toaster/toaster.min.js"></script>
		<script src="assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="assets/jquery/dist/jquery.min.js"></script>
		<script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="dist/tataearts.min.js"></script>
		<!--Adding inline script to manipulate css -->
		<script type="text/javascript">
			//Code to apply css using javascript as :after is outside dom manipulation
			$(document).ready(function(){
                //About us css change logic 
				$("#aboutus_content").hover(
					function () {
						$("#aboutusCircle").toggleClass('aboutus');
					},
					function () {
						$("#aboutusCircle").toggleClass('aboutus');
					}
				);
				//OurJourney css change logic
				$("#ourjouney_content").hover(
					function () {
						$("#ourjourneyCircle").toggleClass('ourjourney');
					},
					function () {
						$("#ourjourneyCircle").toggleClass('ourjourney');
					}
				);				
				//ContactUs css change logic
				$("#contactus_content").hover(
					function () {
						$("#contactusCircle").toggleClass('contactus');
					},
					function () {
						$("#contactusCircle").toggleClass('contactus');
					}
				);
			});
		</script>
		<!-- inline css ends here -->
	</head>
	<body ng-app="tataeArtsApp" ng-controller="HomeCtrl">
		<!-- Adding a nav bar -->
		<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
			<div class="container-fluid title">
				<img  class="navbar-brand img-circle" style="padding:2px 0px 12px 4px;" src="./src/img/tataelogo.jpg">
				TatateArts
			</div>
		</nav>
		<!-- Nav bar end here-->
		<!-- Configuration for toaster-->
		<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
		<!--Section 1 starts here -->
		<div id="circleAnchor" class="container-fluid background-dark-bc firstSection">
			<div>
				<!--circle starts here -->
				<div id="aboutusCircle" class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div  id="aboutus_content" ng-click="gotoAnchor('AboutUs');" class="circle__content aboutus">About Us</div>
						</div>
					</div>
				</div>
				<!-- circle ends here -->
			
				<!--circle starts here -->
				<div id="ourjourneyCircle" class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div id="ourjouney_content" ng-click="gotoAnchor('ArtWork');" class="circle__content">Art Journey</div>
						</div>
					</div>
				</div>
				<!-- circle ends here -->	
				<!--circle starts here -->
				<div id="contactusCircle" class="circle">
					<div class="circle__inner">
						<div class="circle__wrapper">
							<div id="contactus_content" ng-click="gotoAnchor('ContactUs');" class="circle__content">Contact Us</div>
						</div>
					</div>
				</div>
				<!-- circle ends here -->	
			</div>
			<p class="firstSectiontext">{{test}}</p>
		</div>
		<!--Section 1 ends here -->
		<!--Section 2 starts here -->
		<div class="container-fluid background-orange-bc">
			<div class="row" style="color: white;text-align: center;font-size: 2.42em;">
                <h2 style="font-weight: 400;">Our Work At A Glance</h2>
			</div>
			<!-- Adding code for carousal here -->
			<div style="height: 305px;padding-top: 1%;">
				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
					<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
						<img class="img-fluid" ng-src="{{slide.image}}" style="margin:auto;">
						<div class="carousel-caption">
							<p>{{slide.text}}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Code for carousal ends here -->
		</div>
		<!--Section2 ends here -->
		<!--Section3 starts here -->
		<div id ="ContactUs" class="container-fluid background-red-bc" style="height: 490px;">
			<div class="row" style="text-align: center;color:white;">
				<h2 style="font-weight: 400;">Reach Us Now </h2>
				<h3 style="font-weight: lighter;">Have a Question? You can reach at our contact</h3>
			</div>
			<div class="row" style="text-align: center;color:white;">
				<h1 class="contact" style="font-weight: bold;">+91 9767569372</h1>
			</div>
			<div class="row" style="text-align: center;color:white;">
				<h3 style="font-weight: lighter;">Send us an email</h3>
				<h2 class="email" style="font-weight: bold;"><a style="color:white;" href="https://www.google.com/gmail/about/">tataearts@gmail.com</a></h2>
			</div>
			<div class="row" style="text-align: center;color:white;">
				<h3 style="font-weight: lighter;">Have a Question?</h3>
				 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AskUsModel">Ask Us</button>
			</div>
		</div>
		<!--Section3 ends here-->
		<!--Section4 starts here-->
		<div id="AboutUs" class="container-fluid background-yellowish-bc" style="min-height: 345px;position:relative;">
			<div style="font-size: 30px;color: white;text-align: center;padding-top: 1%;"> 
				Know Us Better
			</div>
			<div style="font-size: 20px;color: white;text-align: center;padding-top: 1%;"> 
				<p>We Are Painting Contractors in Goa</p>
			</div>
			<div class="row" style="color:white;text-align:center;padding-top: 1%;">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<img src="./src/img/logo.jpg" class="img-circle logo" width="200" height="200">
					<div style="font-weight: lighter;font-size:larger;">Tukaram Chodankar</div>
					<div style="font-weight: bold;">Founder</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 aboutus_content">
					<p>
						Our founder has been working in the field of 'Art' and 'Painting contracts' for the past 24 years and have worked on projects of varying scales. Our team consists of 7 skilled painters and size of team is increased based on the scale of the project.
	                </p>
	                <p>
						We believe in delivering best interior/exterior looks using quality and cost effective raw materials.
						We undertake Painting contract(s) all over Goa and we complete our project within short timeframes(The timeframe varies depending on the scale of the project).
					</p>	
					<button ng-show="!collapsed" type="button" class="btn btn-primary btn-md" style="position: absolute;right: 9px;top:94%;" ng-model="collapsed" ng-click="collapsed=!collapsed">Keep Reading...</button>
					<div ng-show="collapsed">
		                <p>
							We have worked on over 20+ painting contract(s) over past few years. One of our major painting work piece can be seen at ''tapobhoomi Temple in Goa". Also, we have undertaken and successfully completed a large of number 'Bunglow' painting contract(s) all over Goa. We suggest the best looks for your house/flat/Bunglow and also provide customized designs(Cost Applicable) based on customer needs.
							We provide work worth every penny u pay us, because we care about you.
							Currently we take painting contract(s) in Goa itself.
						</p>
						<p>	
								Also, we deal in  'Art' work(s) including Sculpture designs.
								We are linked with a sarvajanik ganpati organization in zuvem, Goa and have been providing services to them over the past 8 years in a row. Our founder is a highly skilled craftsman and enjoys his art work.
						</p>
						<p>
							We believe in delivering excellence to our customers at a reasonable rate.
						</p>
					</div>	
				</div>
			</div>
		</div>
		<!--Section4 ends here-->
		<!--Section5(Art Work carousel) starts here-->
		<div id="ArtWork" class="container-fluid background-blue-bc">
			<div class="row" style="color: white;text-align: center;font-size: 2.42em;">
				<h2 style="font-weight: 400;">Our Art Work</h2>
			</div>
			<!-- Adding code for carousal here -->
			<div style="height: 305px;padding-top: 1%;" ng-init="getArtImageLinks();">
				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
					<img class="img-fluid" ng-src="{{slide.image}}" style="margin:auto;" >
					<div class="carousel-caption">
						<p>{{slide.text}}</p>
					</div>
				</div>
				</div>
			</div>
			<!-- Code for carousal ends here -->
		</div>
		<!--Section5 ends here-->
		<!-- Section for Back to top icon-->
		<span id="top-link-block" class="hidden">
			<a href="#circleAnchor" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
				<i class="glyphicon glyphicon-chevron-up"></i> 
			</a>
		</span>
		<!--Section for back to top icon ends -->
		<!--Footer starts here-->
		<div class="container-fluid background-white-bc" style="padding-top: 5%;text-align: center;color: #999;font-weight: 300;font-size: large;">
           © Copyright 2016, TatateArts.
		</div>
		<!--Footer ends here-->
		<div class="modal fade" id="AskUsModel" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Ask Us</h4>
					</div>
					<div class="modal-body col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<input class="form-control" id="name" ng-model="ask.name" type="text" placeholder="Name">
							</div>
						</div>
						<div class="row" style="padding-top:10px;">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<input class="form-control" id="contact" ng-model="ask.contactNumber" type="number" placeholder="Contact">
							</div>
						</div>
						<div class="row" style="padding-top:10px;">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<label for="comment">Query Details:</label>
								<textarea class="form-control" id="question" ng-model="ask.description" rows="5"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askUs();">Ask</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
			// Only enable if the document has a long scroll bar
			//Back to top logic
			if ( ($(window).height() + 100) < $(document).height() ) {
				$('#top-link-block').removeClass('hidden').affix({
					// how far to scroll down before link "slides" into view
					offset: {top:100}
				});
			}
	</script>
</html>