@media only screen and (max-width: 654px){
    body{
      padding-top: 7%;
	}
	.title{
		margin: 2% 0% 2% 1%;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		font-size:23px;
	}
}

@media only screen and (min-width: 654px){
	body{
      padding-top: 5%;
	}
	.title{
		margin: 1% 0% 2% 1%;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		font-size: 34px;
		height: 40px;
	}
}


.background-dark-bc {
    background: #315989;
}
.background-orange-bc{
	background: linear-gradient(0deg, #f06e47, #ffab4a);
}
.firstSection{
	padding-bottom: 80px;
	color: #fff;
	font-size: 22px;
}
.firstSectiontext{
	margin: 0 auto;
	max-width: 475px;
	padding-top: 12%;
	font-weight: 100;
	text-align: center;
}
 

/**
 * Circle Styles
 */

.circle {
	position: relative;
	display: block;
	margin: 4em 2em 6em 5em;
	background-color: transparent;
	color: #222;
	text-align: center;
	height: 56px; 
	width: 132px;
	float: left;
}

.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #ddd;
	background: url(https://images8.alphacoders.com/370/370799.jpg);
	content: "";
}


.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.circle__content {
	display: table-cell;
	color: white;
	padding: 40% 1em 1em 1em;
	vertical-align: middle;
}

@media (min-width: 480px) {
	.circle__content {
		font-size: 2em;
	}
}

@media (min-width: 768px) {
	.circle__content {
		font-size: 1em;
	}
}

@media (min-width: 1280px) {

	.circle {
		position: relative;
		display: block;
		margin: 4em 2em 6em 5em;
		background-color: transparent;
		color: #222;
		text-align: center;
		height: 56px; 
		width: 21%;
		float: left;
	}
	.firstSectiontext{
		margin: 0 auto;
		max-width: 454px;
		padding-top: 33%;
	}

}

@media (max-width: 1280px){
	.circle {
		position: relative;
		display: block;
		margin: 4em 2em 6em 5em;
		background-color: transparent;
		color: #222;
		text-align: center;
		height: 56px; 
		width: 14%;
		float: left;
	}
}

@media (max-width: 830px){
	.circle {
		position: relative;
		display: block;
		margin: 4em 11em 25% 32%;
		background-color: transparent;
		color: #222;
		text-align: center;
		height: 56px; 
		width: 32%;
		float: left;
	}
	.circle__content {
		display: table-cell;
		padding: 40% 30% 30% 30%;
		vertical-align: middle;
		font-size: 70%;
	}
}


@media (max-width: 500px){
	.circle {
		position: relative;
		display: block;
		margin: 2em 11em 37% 25%;
		background-color: transparent;
		color: #222;
		text-align: center;
		height: 56px; 
		width: 49%;
		float: left;
	}

	.circle__content {
		display: table-cell;
		padding: 38% 9% 9% 9%;
		vertical-align: middle;
		font-size: 62%;
	}
}
@media (max-width: 200px){
	body {
		padding-top: 36%;
	}
	.circle {
		position: relative;
		display: block;
		margin: 2em 11em 37% 8%;
		background-color: transparent;
		color: #222;
		text-align: center;
		height: 56px; 
		width: 88%;
		float: left;
	}

	.circle__content {
		display: table-cell;
		padding: 9%;
		vertical-align: middle;
		font-size: 62%;
	}
}

/**
 * Circle Styles end
 */

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}
